section{
    width:1300px;
    margin:20px auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:20px;
}
.ahtu-title,.ahtu-aside-title{
    background-color: hotpink;
    line-height:45px;
}
.ahtu-title > span {
    background-color: rgb(226, 226, 226);
    line-height:45px;
    display:inline-block;
    padding:0 20px;
    font-weight: bolder;
}
.ahtu-aside-title > span{
    background-color: rgb(226, 226, 226);
    line-height:45px;
    display:block;
    padding:0 20px;
    font-weight: bolder;
}
.ahtu-box{
    display:flex;
}
.ahtu-tatin-para > a{
    font-size:14px;
    display:block;
    text-align:center;
    color: hotpink;
}
.ahtu-tatin-para > a:hover{
    text-decoration: underline;
}
.ahtu-tatin-para > p{
    font-size:14px;
    padding:20px;
    text-align:justify;
    text-indent: 20px;
}
.ahtu-aside-box{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:20px;
}
.ahtu-aside-box > a{
    padding:0 10px;
    font-size:14px;
    color:hotpink;
}
.ahtu-aside-box > a:hover{
    text-decoration: underline;
}